{% extends 'base.html.twig' %}

{% block body %}
    <span data-role="firstName">{{ app.user.firstName }}</span>
    <span data-role="lastName">{{ app.user.lastName }}</span>
    <span data-role="email">{{ app.user.email }}</span>
    <table data-role="rules">
        <tbody>
            {% for rulesAgreement in app.user.rulesAgreements %}
                <tr>
                    <td>{{ rulesAgreement.rules.publishedAt|date("d/m/Y H:i") }}</td>
                    <td>{{ rulesAgreement.agreedAt|date("d/m/Y H:i") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
