{% extends 'layouts/anonymous.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row mb-3 align-content-center">
        {{ form_label(form.plainPassword) }}
        <div class="col-12 col-md-7">
            <div class="input-group input-group-password">
                {{ form_widget(form.plainPassword) }}
                <button class="btn btn-light">
                    <span class="far"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-danger d-block mx-auto mb-3" type="submit">Valider</button>
        <a href="{{ path("security_login") }}" class="d-inline-block mx-auto">Retour</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
