<aside>
    <nav class="section-nav">
        <h1 class="text-center my-0 py-3 px-3 px-lg-0 text-uppercase border-bottom d-flex d-lg-block justify-content-between">
            Boutique
            <a href="#" class="sidebar-toggler d-lg-none" aria-expanded="false">
                <span class="fas fa-times fa-md text-dark"></span>
            </a>
        </h1>
        <ul class="nav flex-column" id="universes">
            <li class="nav-item">
                {{ form_start(form, {attr: {class: form.vars.attr.class ~ " show"}}) }}
                    {{ form_widget(form._token) }}
                    {{ form_widget(form.min) }}
                    {{ form_widget(form.max) }}
                    <input type="hidden" name="page" value="1">
                    <div class="nav-item">
                        <div class="nav-link pb-3">
                            <div class="form-group">

                                <div class="input-group mb-3">
                                    {{ form_widget(form.keywords) }}
                                    <button class="btn btn-outline-secondary btn-input-reset" data-target="{{ form.keywords.vars.id }}" type="button"><span class="fas fa-times"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-item">
                        <div class="nav-link">
                            <span class="fw-bold">Clés</span>
                            <div class="slider" data-min="{{ min }}" data-max="{{ max }}" data-min-target="#filter_min" data-max-target="#filter_max"></div>
                        </div>
                    </div>
                    <div class="nav-item">
                        <div class="nav-link pb-3">
                            {{ form_row(form.brand) }}
                        </div>
                    </div>
                    <div class="nav-item">
                        <div class="nav-link text-center">
                            <button type="submit" class="btn btn-sm btn-primary">Rechercher</button>
                        </div>
                    </div>
                {{ form_end(form) }}
            </li>
            {% for u in universes %}
                {# {% if u.numberOfProducts > 0 %} #}
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#universe-{{ u.id }}" role="button" aria-expanded="{{ not form.vars.submitted and universe is not null and universe == u ? "true" : "false" }}" aria-controls="universe-{{ u.id }}">{{ u.name }}</a>
                        <ul class="nav flex-column collapse {{ not form.vars.submitted and universe is not null and universe == u ? "show" }}" id="universe-{{ u.id }}" >
                            <li class="nav-item">
                                <a href="{{ path("shop_index", params|merge({page: 1, universe: u.slug})) }}" class="nav-link {{ universe == u ? "active" }}">Tous les produits</a>
                            </li>
                            {% for c in u.categories %}
                                {# {% if c.numberOfProducts > 0 %} #}
                                    <li class="nav-item">
                                        {% if c.children|length > 0 %}
                                            <a class="nav-link" data-bs-toggle="collapse" href="#category-{{ c.id }}" role="button" aria-expanded="{{ (not form.vars.submitted and category is not null and category.parent == c and universe is not null and universe == u) or c == category ? "true" : "false" }}" aria-controls="category-{{ c.id }}">{{ c.name }}</a>
                                            <ul class="nav flex-column collapse {{ (not form.vars.submitted and category is not null and category.parent == c and universe is not null and universe == u) or c == category ? "show" }}" id="category-{{ c.id }}" data-bs-parent="#universe-{{ u.id }}">
                                                <li class="nav-item">
                                                    <a href="{{ path("shop_index", params|merge({page: 1, category: c.slug, universe: u.slug})) }}" class="nav-link {{ category == c ? "active" }}">Tous les produits</a>
                                                </li>
                                                {% for child in c.children %}
                                                    {% if child.lastProduct %}
                                                        <li class="nav-item">
                                                            <a href="{{ path("shop_index", params|merge({page: 1, category: child.slug, universe: u.slug})) }}" class="nav-link {{ category == child ? "active" }}">{{ child.name }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <a href="{{ path("shop_index", params|merge({page: 1, category: c.slug, universe: u.slug})) }}" class="nav-link {{ category == c ? "active" }}">{{ c.name }}</a>
                                        {% endif %}
                                    </li>
                                {# {% endif %} #}
                            {% endfor %}
                        </ul>
                    </li>
                {# {% endif %} #}
            {% endfor %}
        </ul>
    </nav>
</aside>
