{% extends "layouts/page.html.twig" %}

{% block breadcrumb %}
    {{ include("components/breadcrumb.html.twig", {items: [
        {route: "key_index", label: "Compte clés"},
        {route: "key_history", routeParams: {id: account.id}, label: "Historique"}
    ]}) }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <section class="section">
                <h1 class="section-header">Compte clés</h1>
                <div class="section-body">
                    <div class="row">
                        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                            <div class="card">
                                <h2 class="card-header">Expiration des clés</h2>
                                <div class="card-body p-0">
                                    <table class="table table-hover mb-0" data-role="accessList">
                                        <thead>
                                        <tr>
                                            <th class="text-center">Date d'acquisition</th>
                                            <th class="text-center">Date d'expiration</th>
                                            <th class="text-center">Clés restantes</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for wallet in account.remainingWallets %}
                                            <tr>
                                                <td class="text-center">{{ wallet.createdAt|date("d/m/Y") }}</td>
                                                <td class="text-center">{{ wallet.expiredAt|date("d/m/Y") }}</td>
                                                <td class="text-center">{{ wallet.balance }} clés</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td class="text-center" colspan="3">Aucun résultat</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                            <div class="card">
                                <h2 class="card-header">Transactions</h2>
                                <div class="card-body p-0">
                                    <table class="table table-hover mb-0" data-role="accessList">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Opération</th>
                                                <th class="text-center">Clés</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for transaction in account.transactions|reverse %}
                                                <tr>
                                                    <td class="text-center">{{ transaction.createdAt|date("d/m/Y") }}</td>
                                                    <td class="text-center">{{ transaction.type }}</td>
                                                    <td class="text-center">{{ transaction.points }} clés</td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td class="text-center" colspan="3">Aucun résultat</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

