{% extends "layouts/page.html.twig" %}

{% block breadcrumb %}
    {{ include("components/breadcrumb.html.twig", {items: [
        {route: "key_index", label: "Compte clés"},
        {route: "key_purchase", label: "Acheter des clés"}
    ]}) }}
{% endblock %}

{% block page %}purchase{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <section class="section">
                <h1 class="section-header">
                    <span class="icon icon-xl icon-key me-2"></span>
                    Acheter des clés
                </h1>
                <div class="section-body">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10 col-xl-8">
                            {{ form_start(form) }}
                            <div class="card h-100">
                                <div class="card-body">
                                    {{ form_errors(form) }}
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            {{ form_row(form.billingAddress) }}
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            {{ form_row(form.deliveryAddress) }}
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12 col-md-6">
                                            {{ form_row(form.points) }}
                                        </div>
                                        {% if form.account is defined %}
                                            <div class="col-12 col-md-6 mt-3 mb-mt-0">
                                                {{ form_row(form.account) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6 mb-3 mb-md-0">
                                            {{ form_row(form.mode) }}
                                            <div id="check" class="mt-3 d-none">
                                                <strong>Chèque à l'ordre de :</strong> SARL Les Ateliers du R.O.I.
                                                <br/>
                                                <strong>Adresse postale :</strong>
                                                <br/>
                                                SARL Les Ateliers du R.O.I.
                                                18BIS RUE DU MARECHAL LECLERC
                                                28000 CHARTRES
                                            </div>
                                            <div id="bank-wire" class="mt-3 d-none">
                                                <strong>Référence bancaire :</strong>BANQUE POPULAIRE VAL DE FRANCE
                                                <br/>
                                                <strong>Titulaire du compte :</strong> SARL Les Ateliers du R.O.I.
                                                <br/>
                                                <strong>RIB :</strong> 18707 00001 30421623924 94
                                                <br/>
                                                <strong>IBAN :</strong> FR76 1870 7000 0130 4216 2392 494
                                                <br/>
                                                <strong>BIC :</strong> CCBPFRPPVER
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            {{ form_row(form.internReference) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer p-0 d-flex">
                                    <a href="{{ path("key_index") }}" class="btn d-block flex-grow-1 btn-outline-secondary rounded-0 border-0">
                                        Retour
                                    </a>
                                    <button type="submit" class="btn d-block flex-grow-1 btn-outline-success rounded-0 border-0">
                                        Acheter
                                    </button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
