{% extends "layouts/page.html.twig" %}

{% block breadcrumb %}
    {{ include("components/breadcrumb.html.twig", {items: [
        {route: "key_index", label: "Compte clés"},
        {route: "key_return", label: "Rétrocession des clés"}
    ]}) }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <section class="section">
                <h1 class="section-header">
                    <span class="icon icon-xl icon-key me-2"></span>
                    Rétrocession des clés
                </h1>
                <div class="section-body">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10 col-xl-8">
                            {{ form_start(form) }}
                            <div class="card h-100">
                                 {{ include('ui/key/_form.html.twig', {form: form}) }}
                                <div class="card-footer p-0 d-flex">
                                    <a href="{{ path("key_index") }}" class="btn d-block flex-grow-1 btn-outline-secondary rounded-0 border-0">
                                        Retour
                                    </a>
                                    <button type="submit" class="btn d-block flex-grow-1 btn-outline-success rounded-0 border-0">
                                        Rétrocéder
                                    </button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
