{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form, { attr: { method: "GET", action: path("access_list", { page: 1 }) }}) }}
        <button>Filtrer</button>
    {{ form_end(form) }}
    <table data-role="accessList">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Date d'inscription</th>
                <th>Dernière connexion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.registeredAt|date("d/m/Y H:i") }}</td>
                    <td>{{ user.lastLogin|date("d/m/Y H:i") }}</td>
                    <td>
                        {% if is_granted("suspend", user) %}
                            <a href="{{ path("access_suspend", { id: user.id }) }}">Suspendre</a>
                        {% endif %}
                        {% if is_granted("active", user) %}
                            <a href="{{ path("access_active", { id: user.id }) }}">Activer</a>
                        {% endif %}
                        <a href="{{ path("access_delete", { id: user.id }) }}">Supprimer</a>
                        <a href="{{ path("index", { _switch_user: user.email }) }}">Log as</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if pages > 1 %}
        <nav class="pagination">
            {% if app.request.get("page", 1) > 1 %}
                <a data-role="previous" href="{{ path("access_list", { page: app.request.get("page", 1) - 1}) }}">Précédent</a>
            {% endif %}
            {% set pageRange = range(
                max(1, app.request.get("page", 1) - 3),
                min(pages, app.request.get("page", 1) + 3)
            ) %}
            {% for page in pageRange %}
                <a class="{{ page == app.request.get("page", 1) ? "active": "" }}" href="{{ path("access_list", { page: page }) }}">{{ page }}</a>
            {% endfor %}
            {% if app.request.get("page", 1) < pages %}
                <a data-role="next" href="{{ path("access_list", { page: app.request.get("page", 1) + 1}) }}">Suivant</a>
            {% endif %}
        </nav>
    {% endif %}
{% endblock %}
