{% extends "layouts/page.html.twig" %}

{% set breadcrumbItems = [{ route: "client_access_list", label: "Gestion des accès"}, ] %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <section class="section">
                <h1 class="section-header">Gestion des clients</h1>
                <div class="section-body">
                    {{ form_start(form, { attr: { method: "GET", action: path("client_access_list", { page: 1 }) }}) }}
                        <div class="card mb-3">
                            <h2 class="card-header">Filtrer</h2>
                            <div class="card-body">
                                {{ form_row(form.keywords) }}
                                <div class="text-end mt-3">
                                    <button type="submit" class="btn btn-primary">Filtrer</button>
                                </div>
                            </div>
                        </div>
                    {{ form_end(form) }}
                    <div class="card">
                        <h2 class="card-header">Liste des accès</h2>
                        <div class="card-body p-0">
                            <table class="table table-hover mb-0" data-role="accessList">
                                <thead>
                                    <tr>
                                        <th class="text-center">Prénom</th>
                                        <th class="text-center">Nom</th>
                                        <th class="text-center">Commercial</th>
                                        {% if is_granted("ROLE_MANAGER") and app.user.members|length > 1 %}
                                            <th class="text-center">Adhérent</th>
                                        {% endif %}
                                        <th class="text-center">Société</th>
                                        <th class="text-center">Date d'inscription</th>
                                        <th class="text-center">Dernière connexion</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td class="text-center">{{ user.firstName }}</td>
                                            <td class="text-center">{{ user.lastName }}</td>
                                            <td class="text-center">{{ user.client.salesPerson.fullName }}</td>
                                            <td class="text-center">{{ user.client.member.name }}</td>
                                            {% if is_granted("ROLE_MANAGER") and app.user.members|length > 1 %}
                                                <td class="text-center">{{ user.client.name }}</td>
                                            {% endif %}
                                            <td class="text-center">{{ user.registeredAt|date("d/m/Y H:i") }}</td>
                                            <td class="text-center">{{ user.lastLogin|date("d/m/Y H:i") }}</td>
                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdown-{{ user.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Actions
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdown-{{ user.id }}">
                                                        {% if is_granted("suspend", user) %}
                                                            <li><a class="dropdown-item" href="{{ path("client_access_suspend", { id: user.id }) }}">Suspendre</a></li>
                                                        {% endif %}
                                                        {% if is_granted("active", user) %}
                                                            <li><a class="dropdown-item" href="{{ path("client_access_active", { id: user.id }) }}">Activer</a></li>
                                                        {% endif %}
                                                        <li><a class="dropdown-item" href="{{ path("client_access_delete", { id: user.id }) }}">Supprimer</a></li>
                                                        <li><a class="dropdown-item" href="{{ path("client_access_reset", { id: user.id }) }}">Réinitialiser</a></li>
                                                        <li><a class="dropdown-item" href="{{ path("index", { _switch_user: user.email }) }}">Log as</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td class="text-center" colspan="8">Aucun résultat</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% if pages > 1 %}
                            <div class="card-footer p-0">
                                {{ include("components/pagination.html.twig", {
                                    class: "my-0",
                                    route: "client_access_list",
                                    currentPage: app.request.get("page", 1),
                                    pages: pages
                                }) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

