{% extends "layouts/page.html.twig" %}

{% block breadcrumb %}
    {{ include("components/breadcrumb.html.twig", {items: [{route: "sav_index", label: "Service après-vente"}]}) }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <section class="section">
                <h1 class="section-header">Service après-vente</h1>
                <div class="section-body">
                    <div class="card">
                        <h2 class="card-header">Liste des commandes</h2>
                        <div class="card-body  p-0">
                            <table class="table table-hover mb-0" data-role="accessList">
                                <thead>
                                <tr>
                                    <th class="text-center">&nbsp;</th>
                                    <th class="text-center">Référence</th>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">Nombre de produits</th>
                                    <th class="text-center">Total (clés)</th>
                                    <th class="text-center">Statut</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    {% if order.state != "cart" %}
                                        <tr>
                                            <td class="text-center">
                                                <a href="{{ path("sav_trigger", {id: order.id}) }}" class="btn btn-danger btn-sm">
                                                    Demande de SAV
                                                </a>
                                            </td>
                                            <td class="text-center">{{ order.reference }}</td>
                                            <td class="text-center">{{ order.createdAt|date("d/m/Y H:i") }}</td>
                                            <td class="text-center">{{ order.numberOfProducts }}</td>
                                            <td class="text-center">{{ order.total }} clés</td>
                                            <td class="text-center">
                                                {% if order.state == "pending" %}
                                                    <span class="badge bg-primary">En cours de traitement</span>
                                                {% elseif order.state == "on_delivery" %}
                                                    <span class="badge bg-info">En cours d'acheminement</span>
                                                {% elseif order.state == "delivered" %}
                                                    <span class="badge bg-success">Livrée</span>
                                                {% elseif order.state == "canceled" %}
                                                    <span class="badge bg-warning">Annulé</span>
                                                {% else %}
                                                    <span class="badge bg-danger">Incident de livraison</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% else %}
                                    <tr>
                                        <td class="text-center" colspan="8">Aucun résultat</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

