{% extends 'layouts/anonymous.html.twig' %}

{% block content %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.username) }}
        <div class="text-center mt-4 mt-xxl-5">
            <button class="btn btn-danger mb-4 d-block w-100" type="submit">Valider</button>
            <a href="{{ path("security_login") }}" class="d-inline-block mx-auto">Retour</a>
        </div>
    {{ form_end(form) }}
{% endblock %}
