<header>
    <div class="container">
        <div class="d-flex justify-content-between py-3">
            <img src="{{ asset("build/images/logo.png") }}" alt="Key Privilege" class="logo flex-shrink-0">
            <div class="identity">
                <div class="identity-left">
                    <div class="identity-name">
                        Bonjour <span>{{ app.user.fullName }}</span>
                    </div>
                    <div class="identity-balance">
                        <span class="icon icon-key icon-sm"></span>
                        Votre compte :&nbsp;<span>{{ app.user.account.balance }} clés</span>
                    </div>
                </div>
                <div class="identity-right">
                    <div class="identity-logo">
                        <img src="https://via.placeholder.com/150x60" alt="">
                    </div>
                    <a href="{{ path("security_logout") }}" class="identity-logout">
                        <span class="fas fa-times"></span> Se déconnecter
                    </a>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light mt-3">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header-navbar" aria-controls="header-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="header-navbar">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path("index") }}">Accueil</a>
                    </li>
                    {% if is_granted("ROLE_SHOP") %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("shop_index") }}">Boutique</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("cart_index") }}">Panier</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("account_index") }}">Mon compte</a>
                    </li>
                    {% if is_granted("ROLE_CLIENT_ACCESS") or is_granted("ROLE_CLIENT_COMPANY") %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Clients
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if is_granted("ROLE_CLIENT_COMPANY") %}
                                    <li><a class="dropdown-item" href="{{ path("client_company_list") }}">Gestion des sociétés</a></li>
                                    <li><a class="dropdown-item" href="{{ path("client_company_create") }}">Créer une société</a></li>
                                {% endif %}
                                {% if is_granted("ROLE_CLIENT_ACCESS") and is_granted("ROLE_CLIENT_COMPANY") %}
                                    <li><hr class="dropdown-divider"></li>
                                {% endif %}
                                {% if is_granted("ROLE_CLIENT_ACCESS") %}
                                    <li><a class="dropdown-item" href="{{ path("client_access_list") }}">Gestion des accès</a></li>
                                    <li><a class="dropdown-item" href="{{ path("client_access_create") }}">Créer un accès</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("contact") }}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
