<nav>
    <ul class="pagination justify-content-end {{ class|default('') }}">
        {% if currentPage > 1 %}
            <li class="page-item">
                <a class="page-link" data-role="previous" href="{{ path("access_list", { page: currentPage - 1}) }}">Précédent</a>
            </li>
        {% endif %}
        {% set pageRange = range(
            max(1, currentPage - 3),
            min(pages, currentPage + 3)
        ) %}
        {% for page in pageRange %}
            <li class="page-item  {{ page == currentPage ? "active": "" }}">
                <a class="page-link" href="{{ path("access_list", { page: page }) }}">{{ page }}</a>
            </li>
        {% endfor %}
        {% if currentPage < pages %}
            <li class="page-item">
                <a class="page-link" data-role="next" href="{{ path("access_list", { page: currentPage + 1}) }}">Suivant</a>
            </li>
        {% endif %}
    </ul>
</nav>
