<div class="card-body">
    {{ form_errors(form) }}
    <div class="row mb-3">
        <div class="col-6">
            {{ form_row(form.email) }}
        </div>
        <div class="col-6">
            {{ form_row(form.client) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            {{ form_row(form.firstName) }}
        </div>
        <div class="col-6">
            {{ form_row(form.lastName) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(form.manualDelivery) }}
        </div>
    </div>
</div>
