{% extends "layouts/page.html.twig" %}

{% set breadcrumbItems = [
    { label: "Gestion des clients"},
    { route: "client_access_list", label: "Gestion des accès"},
    {route: "client_access_create", label: "Créer un accès"}
] %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <section class="section">
                <h1 class="section-header">Gestion des accès</h1>
                <div class="section-body">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8">
                            {{ form_start(form) }}
                            <div class="card h-100">
                                <h2 class="card-header">Créer un accès</h2>
                                <div class="card-body">
                                    {{ form_errors(form) }}
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            {{ form_row(form.email) }}
                                        </div>
                                        <div class="col-6">
                                            {{ form_row(form.client) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            {{ form_row(form.firstName) }}
                                        </div>
                                        <div class="col-6">
                                            {{ form_row(form.lastName) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer p-0 d-flex">
                                    <a href="{{ path("client_access_list") }}" class="btn d-block flex-grow-1 btn-outline-secondary rounded-0 border-0">
                                        Retour
                                    </a>
                                    <button type="submit" class="btn d-block flex-grow-1 btn-outline-success rounded-0 border-0">
                                        Créer
                                    </button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
