{% extends "layouts/page.html.twig" %}

{% set breadcrumbItems = [
    { label: "Gestion des clients"},
    { route: "client_access_list", label: "Gestion des accès"}
] %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <section class="section">
                <h1 class="section-header">
                    Gestion des accès
                    <a href="{{ path("client_access_create") }}" class="btn btn-primary">Créer un nouvel accès</a>
                </h1>
                <div class="section-body">
                    {{ form_start(form, { attr: { method: "GET", action: path("client_access_list", { page: 1 }) }}) }}
                        <div class="card mb-3">
                            <h2 class="card-header">Filtrer</h2>
                            <div class="card-body">
                                {{ form_row(form.keywords) }}
                                <div class="text-end mt-3">
                                    <button type="submit" class="btn btn-primary">Filtrer</button>
                                </div>
                            </div>
                        </div>
                    {{ form_end(form) }}
                    <div class="card">
                        <h2 class="card-header">Liste des accès</h2>
                        <div class="card-body p-0">
                            <table class="table table-hover mb-0" data-role="accessList">
                                <thead>
                                    <tr>
                                        <th class="text-center">Prénom</th>
                                        <th class="text-center">Nom</th>
                                        <th class="text-center">Commercial</th>
                                        {% if is_granted("ROLE_MANAGER") and app.user.members|length > 1 %}
                                            <th class="text-center">Adhérent</th>
                                        {% endif %}
                                        <th class="text-center">Client</th>
                                        <th class="text-center">Date d'inscription</th>
                                        <th class="text-center">Dernière connexion</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for customer in customers %}
                                        <tr>
                                            <td class="text-center">{{ customer.firstName }}</td>
                                            <td class="text-center">{{ customer.lastName }}</td>
                                            <td class="text-center">{{ customer.client.salesPerson.fullName }}</td>
                                            {% if is_granted("ROLE_MANAGER") and app.user.members|length > 1 %}
                                                <td class="text-center">{{ customer.client.member.name }}</td>
                                            {% endif %}
                                            <td class="text-center">{{ customer.client.name }}</td>
                                            <td class="text-center">{{ customer.registeredAt|date("d/m/Y H:i") }}</td>
                                            <td class="text-center">{{ customer.lastLogin|date("d/m/Y H:i") }}</td>
                                            <td class="text-center">
                                                <div class="dropdown">
                                                    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdown-{{ customer.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Actions
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdown-{{ customer.id }}">
                                                        {% if is_granted("suspend", customer) %}
                                                            <li><a class="dropdown-item" href="{{ path("client_access_suspend", { id: customer.id }) }}">Suspendre</a></li>
                                                        {% endif %}
                                                        {% if is_granted("active", customer) %}
                                                            <li><a class="dropdown-item" href="{{ path("client_access_active", { id: customer.id }) }}">Activer</a></li>
                                                        {% endif %}
                                                        {% if is_granted("update", customer) %}
                                                            <li><a class="dropdown-item" href="{{ path("client_access_update", { id: customer.id }) }}">Modifier</a></li>
                                                        {% endif %}
                                                        {% if is_granted("delete", customer) %}
                                                            <li><a class="dropdown-item" href="{{ path("client_access_delete", { id: customer.id }) }}">Supprimer</a></li>
                                                        {% endif %}
                                                        {% if is_granted("reset", customer) %}
                                                            <li><a class="dropdown-item" href="{{ path("client_access_reset", { id: customer.id }) }}">Réinitialiser</a></li>
                                                        {% endif %}
                                                        {% if is_granted("log_as", customer) %}
                                                            <li><a class="dropdown-item" href="{{ path("home", { _switch_customer: customer.email }) }}">Log as</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td class="text-center" colspan="8">Aucun résultat</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% if pages > 1 %}
                            <div class="card-footer p-0">
                                {{ include("components/pagination.html.twig", {
                                    class: "my-0",
                                    route: "client_access_list",
                                    currentPage: app.request.get("page", 1),
                                    pages: pages
                                }) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

